module Secrets
  def username = "user"
  def private_key_path = "/Users/#{username}/.ssh/id_rsa"
  def additional_disk_path = "/Users/#{username}/Parallels"
  def box = "box-name"
  def base_mac_address = "AB:CD:FA:BC:DE"
  def base_ip_address = "192.168.1"
  def vnc_password = "vagrant"
  def vms = [
    { :name => "vm1", :ip => "10", :ram => 512, :isolate => "off"},
    { :name => "vm2", :ip => "11", :cpus => 2, :ram => 6144, :rosetta => "on" },
    { :name => "vm3", :ip => "12", :disk => true },

    { :name => "vm4", :ip => "13", :usb => true },
]
end